<h1>&iexcl;Bienvenidos!</h1>
<p> Your trusted source for Mexican restaurant reviews in metro Nashville.</p>

<h2>Comentarios</h2>
<p>First I would like to start with a basket of chips...</p>
<ul>
  <li>
    <%= link_to "Las Maracas", :controller => "posts", :action => "las_maracas" %>
  </li>
  <li><a href="http://google.com">Las Palmas next to Kroger on Franklin Rd</a></li>
  <li><a href="http://foxnews.com">Cinco de Mayo inside Cummins Station</a></li>
</ul>
