<h1>Commentarios</h1>
<p><a href="https://www.youtube.com/watch?v=VKQxyygBie0">First I would like to start with a basket of chips...</a></p>
<ol>
  <li><a href="/rose-pepper">Rosepepper</a></li>
  <li><a href="/little-mexico">Little Mexico</a></li>
  <li><a href="/las-maracas-family-dollar-1184">Las Maracas on Gallatin Road next to the Family Dollar #1184 and the VERY small Pizza Hut</a></li>
  <li><a href="/cinco-de-mayo-cummins-station">Cinco de Mayo inside Cummins Station</a></li>
  <li><a href="/las-palmas-franklin-rd">Las Palmas next to Kroger on Franklin Rd</a></li>
  <li><a href="/el-torero">El Torero</a></li>
</ol>
