<div class="contact-newsletter">
  <form action="http://firstiwouldliketostartwithabasketofchips.us9.list-manage.com/subscribe/post" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
    <input type="hidden" name="u" value="bf2be727eef0ad39f25cc2a97">
    <input type="hidden" name="id" value="5803fb7e29">
    <fieldset class="form-group">
      <legend>Join Our Newsletter!</legend>
      <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" value="" />

      <input class="btn btn-primary" name="subscribe" type="submit" value="Subscribe" /><br>
      <span>We'll send you a brief email to let you know we've posted a new review.</span>
    </fieldset>
  </form>
</div>
