<% provide(:title, "Review of Chuy's - Midtown on Broadway in Nashville") %>

<div class="jumbotron chuys-midtown-banner">
  <div class="container">
    <h1>Chuy's <small>&#x20b1; &#x20b1; &#x20b1;</small></h1>
    <h2>Go down Broadway and look for the frogs in bikinis</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 main-col">
      <section class="intro">
        <p class="lead">It was a Sunday night and we had just finished up a session of <a href="http://gethiphopabs.com">Hip Hop Abs</a> so we headed down to Chuy's in Midtown for some Mexican food. The decor and music were louder than hell. It sounded like a dance party at <a href="http://www.belk.com">Belk</a>.</p>
        <p>Chacho got an infrared laser thermometer for Christmas, so we measured everything, starting with the valet stand outside. The salsa wasn't great, but it's edible so long as you like it to be the same temperature as a valet stand in January.</p>
      </section>

      <section class="nachos-tip">
        <h3>Nacho's Tip</h3>
        <p>Place your order, pop in an earbud, and turn on the live version of "<a href="http://youtu.be/R8M8R835Ck4">The Low Spark of High Heeled Boys</a>" by Traffic. Your food will arrive just as Nashville resident, Steve Winwood, hits his last note.</p>
      </section>

      <section class="chachos-truth">
        <h3>Chacho's Truth</h3>
        <ul>
          <li>The salsa and valet stand were both 48&deg; F.</li>
          <li>Tex-Mex Fajitas for One: 400&deg; F</li>
          <li>In 1998 Juvenile had a record called <a href="http://en.wikipedia.org/wiki/400_Degreez">400 Degreez</a>. It went platinum four times and featured the hit single "Back That Azz Up."</li>
          <li>Guacamole: 57&deg; F</li>
          <li>Margarita: 29&deg; F</li>
          <li>You can't just snap your fingers and solve every problem. You gotta get your hands dirty.</li>
        </ul>
      </section>

      <section class="photos">
        <%= render "posts/photos/chuys_midtown_photos" %>
      </section>
    </div><!-- /.main-col -->

    <div class="sidebar col-sm-3 col-sm-offset-1">
      <section class="ratings">
        <p><strong>Chips and Salsa:</strong><br>
          <em>3 out of 5 chips</em><br>
          The salsa was just not very good. The chips were thin, so there was that.</p>
        <p><strong>House Margarita:</strong><br>
          <em>3.5 out of 5 limes</em><br>
          Pretty good. No sweet and sour. Real lime juice.</p>
        <p><strong>&iquest; Si or No?</strong><br>
          <em>Si</em>.</p>
      </section>


      <section class="quotes well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>Well I missed Christmas. Came down with the flu for the first time ever so I called the news to let them know what happened. They sent a camera crew down and interviewed me while I laid in bed sweating, fully clothed.</em>"
        </p>
        <br>
        <p>
          <strong>What Nacho Said</strong><br>
          "<em>Have you ever had a Mexican Coca-Cola?</em>"
        </p>
      </section>

      <%= render "posts/mailchimp" %>
      <hr>
      <%= render "posts/disqus" %>

    </div><!-- /.sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
