<div class="jumbotron cinco-de-mayo-cummins-station-banner">
  <div class="container">
    <h1>Cinco de Mayo, Cummins Station <small>&#x20b1; &#x20b1;</small></h1>
    <h2>Inside Cummins Station</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 main-col">
      <section class="intro">
        <p class="lead">[LEAD]</p>
        <p>[DESCRIPTION]</p>
      </section>

      <section class="nachos-tip">
        <h3>Nacho's Tip</h3>
        <p>[NACHO'S TIP]</p>
      </section>

      <section class="chachos-truth">
        <h3>Chacho's Truth</h3>
        [CHACHO'S TRUTHS]
      </section>

      <section class="photos">
        <%= render "posts/photos/cinco_de_mayo_cummins_station_photos" %>
      </section>
    </div><!-- /.main-col -->

    <div class="sidebar col-sm-3 col-sm-offset-1">
      <section class="ratings">
        <p>
          <strong>Chips and Salsa</strong> [RATING HERE]<br>
          [COMMENTS ON CHIPS AND SALSA]
        </p>
        <p>
          <strong>House Margarita</strong> [RATING HERE]<br>
          [COMMENTS ON MARGS]
        </p>
        <p><strong>Si or No?</strong> [ANSWER HERE]</p>
      </section>


      <section class="quotes well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>[CHACHO QUOTE]</em>"
        </p>
        <br>
        <p>
          <strong>What Nacho Said</strong><br>
          "<em>[NACHO QUOTE]</em>"
        </p>
      </section>

      <%= render "posts/mailchimp" %>
      <hr>
      <%= render "posts/disqus" %>

    </div><!-- /.sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
