<% provide(:title, "Review of Cinco de Mayo in Cummins Station in Nashville") %>

<div class="jumbotron cinco-de-mayo-cummins-station-banner">
  <div class="container">
    <h1>Cinco de Mayo, Cummins Station <small>&#x20b1; &#x20b1;</small></h1>
    <h2>Inside Cummins Station</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 main-col">
      <section class="intro">
        <p class="lead">[LEAD]</p>
        <p>If we were selected to perform at the halftime of the Super Bowl, here's what'd we do...
        <p>The set is the Streets of Bakersfield, CA. Cue the iconic "Welcome to Bakersfield" sign. First Nacho is driven out underneath the Bakersfield sign in the bed of <a href="/mr-aguilar">Mr. Aguilar</a>. He's wearing his Dwight Yoakam jeans and his trademark '97 Levi's denim jacket, and he launches into the riff from Yoakam's classic "Fast as You". Cut to Chacho in the spotlight standing on top of the Bakersfield sign. Chacho starts agressively air strumming his '98 Melissa Ethridge Takamine Ovation. [need photo of chacho on the sign with his guitar]</p>

        <p>TL;DR We end with Mr. Aguilar and Nacho being pulled up to the top of the Bakersfield sign by a late model white Ford F-350 with lots of sparklers going off around the tires. He joins Chacho on top of the sign where they attempt a Garth-Brooks-Standing-Outside-the-Fire-Tour guitar smash [insert photo] after which Chacho falls off the Bakersfield sign into the back of the late model Ford which luckily has an air mattress in the bed. The crowd is horrified.</p>
      </section>

      <section class="nachos-tip">
        <h3>Nacho's Tip</h3>
        <p>[NACHO'S TIP]</p>
      </section>

      <section class="chachos-truth">
        <h3>Chacho's Truth</h3>
        [CHACHO'S TRUTHS]
        <li> We were amazed when we discovered that Pitchfork gave <em>Yankee Hotel Foxtrot</em> a 10</li>
      </section>

      <section class="photos">
        <%= render "posts/photos/cinco_de_mayo_cummins_station_photos" %>
      </section>
    </div><!-- /.main-col -->

    <div class="sidebar col-sm-3 col-sm-offset-1">
      <section class="ratings">
        <p>
          <strong>Chips and Salsa</strong> [RATING HERE]<br>
          [COMMENTS ON CHIPS AND SALSA]
        </p>
        <p>
          <strong>House Margarita</strong> [RATING HERE]<br>
          [COMMENTS ON MARGS]
        </p>
        <p><strong>Si or No?</strong> [ANSWER HERE]</p>
      </section>


      <section class="quotes well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>[CHACHO QUOTE]</em>"
        </p>
        <br>
        <p>
          <strong>What Nacho Said</strong><br>
          "<em>[NACHO QUOTE]</em>"
        </p>
      </section>

      <%= render "posts/mailchimp" %>
      <hr>
      <%= render "posts/disqus" %>

    </div><!-- /.sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
