<% provide(:title, "Review of El Torero on White Bridge Pike in Nashville") %>

<div class="jumbotron el-torero-banner">
  <div class="container">
    <h1>El Torero <small>&#x20b1; &#x20b1; &#x20b1;</small></h1>
    <h2>Down Whitebridge to the Stein Mart parking lot next to the Sally Beauty Supply. If you get to the Play it Again Sports you've gone too far.</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 main-col">
      <section class="intro">
        <p class="lead">We left El Torero feeling like The Pet Shop boys and asking ourselves, "<a href="https://www.youtube.com/watch?v=Wn9E5i7l-Eg">What did [we] do to deserve this?</a>" Walking up to the front door we first noticed the bathroom tile on the exterior facade. Stepping inside, Nacho startled himself with an accidental camera flash as he attempted to get a photo of the restaurant's 70s-lake-house wood paneling.</p>
        <p>We ran to the very last booth in the back as a huge ball of fire erupted from a wok in the kitchen. We were soon approached by a man sweating profusely and wearing a hairnet. Clearly this place cares about customer service because the same employee that cooks your food serves it to you. A dedicated employee ensures your meal meets their low standards all the way from bag of frozen chicken terriyaki to your tortilla.</p>
      </section>

      <section class="nachos-tip">
        <h3>Nacho's Tip</h3>
        <p>If you're desperate enough to eat here, then your phone is probably dead too. Go to the booth in the back right. There's a half-uncovered electrical outlet on level with the seat.</p>
      </section>

      <section class="chachos-truth">
        <h3>Chacho's Truth</h3>
        <ul>
          <li>This place sucked and this post was equally shitty. Sorry.</li>
          <li>We forgot to time it but the food came out fast.</li>
          <li>They serve Cherry Coke and milkshakes.</li>
          <li>The basket for the chips looks like they bought it at a church supply store.</li>
          <li>Don't eat at Mexican restaurants that have woks.</li>
          <li>You can't hack your life.</li>
        </ul>
      </section>

      <section class="photos">
        <%= render "posts/photos/el_torero_photos" %>
      </section>
    </div><!-- /.main-col -->

    <div class="sidebar col-sm-3 col-sm-offset-1">
      <section class="ratings">
        <p><strong>Chips and Salsa:</strong><br>
          <em>3.5 out of 5 chips</em><br>
          Salsa was pretty good and spicy.</p>
        <p><strong>House Margarita:</strong><br>
          <em>2.5 out of 5 limes</em><br>
          This Standard Ranchero juice got a 0.5 bump because we liked the glass.</p>
        <p><strong>&iquest; Si or No?</strong><br>
          <em>Lord, no.</em></p>
      </section>


      <section class="quotes well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>The windows had the longest consecutive strand of blinds I've ever seen.</em>"
        </p>
        <br>
        <p>
          <strong>What Nacho Said</strong><br>
          "<em>We talked shit about the food the whole meal but we finished the guac, cleaned our plates, ate the basket of chips, and went in for a salsa refill.</em>"
        </p>
      </section>

      <%= render "posts/mailchimp" %>
      <hr>
      <%= render "posts/disqus" %>

    </div><!-- /.sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
