<div class="jumbotron">
  <div class="container">
    <h1>El Torero <small>&#x20b1; &#x20b1; &#x20b1;</small></h1>
    <h2>Down Whitebridge to the Steinmart parking lot next to the Sally Beauty Supply. If you get to the Play it Again Sports you've gone too far.</h2>
  </div>
</div>

<div class="container">
  <section class="description">
    <div class="row">
      <div class="col-md-12">
        <p>We left El Torero feeling like The Pet Shop boys and asking ourselves, "<a href="https://www.youtube.com/watch?v=Wn9E5i7l-Eg">What did [we] do to deserve this?</a>"</p>
      </div>
    </div>
  </section>

  <section class="quotes">
    <div class="row">
      <div class="col-md-12">
        <strong>Chacho</strong></p>
        <blockquote>
          <p>
            The chips and salsa arrive first scoring 4.5 out of five baskets of chips. The trio of salsas features delicious tomatillo salsa as well as a medium and hot traditional salsa. There were current list of restaurants a short the margaritas at Rose Pepper are Peerless. They are delicious.
          </p>
        </blockquote>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p><strong>Nacho:</strong></p>
          <blockquote>
            <p>We talked shit about the food the whole meal but we finished the guac, cleaned the plates, ate the basket of chips and went in for a salsa refill.</p>
        </blockquote>
        </div>
      </div>
    </section>

    <blockquote>
      <p>
        Nacho's tip: Go to the booth in the far back right if you need to charge your device. There's a half-uncoverered electrical outlet on level with the seat.</p>
      </p>
    </blockquote>

    <blockquote>
      <p>
        Chacho's truth:
      </p>
      <ul>
        <li>Guac is the standard blender guac they leave in the fridge.</li>
        <li>This place has extremely small portions of beans and rice.</li>
        <li>The guac is fresh and tasty, but Chacho's not trying to mess with those big ass pillowy chip thingy's in it.</li>
        <li>You can't hack your life.</li>
      </ul>
    </blockquote>

    <section class="rating">
      <div class="row">
        <div class="col-md-12">
          <p><strong>Chips and Salsa:</strong> 4.5/5 (nearly perfect if not for Chacho's childish reservations)</p>
          <p><strong>House Margarita:</strong> 4.5/5 ('cuase nobody's perfect)</p>
          <p><strong>Si or No?</strong> No. </p>
    </div>
  </div>
</div> <!-- /container -->
