<div class="jumbotron">
  <div class="container">
    <h1>El Torero <small>&#x20b1; &#x20b1; &#x20b1;</small></h1>
    <h2>Down Whitebridge to the Steinmart parking lot next to the Sally Beauty Supply. If you get to the Play it Again Sports you've gone too far.</h2>
  </div>
</div>

<div class="container">
  <section class="description">
    <div class="row">
      <div class="col-md-12">
        <p>We left El Torero feeling like The Pet Shop boys and asking ourselves, "<a href="https://www.youtube.com/watch?v=Wn9E5i7l-Eg">What did [we] do to deserve this?</a>". Walking up to the front door we first noticed the bathroom tile on the exterior facade and 1970s lake house wood paneling inside. As we walked to the very last booth in the back where the ambience was better because there were a couple of burned out can lights a huge ball of fire flamed up from a wok in the kitchen. We were soon approached by a man sweating profusely and wearing a hairnet. Clearly this place cares about customer service since they have the same employee that cooks your food also serving it to you.</p>
      </div>
    </div>
  </section>

  <section class="quotes">
    <div class="row">
      <div class="col-md-12">
        <strong>Chacho</strong></p>
        <blockquote>
          <p>
            The windows had the longest consecutive strand of blinds I've ever seen.
          </p>
        </blockquote>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p><strong>Nacho:</strong></p>
          <blockquote>
            <p>We talked shit about the food the whole meal but we finished the guac, cleaned our plates, ate the basket of chips and went in for a salsa refill.</p>
        </blockquote>
        </div>
      </div>
    </section>

    <blockquote>
      <p>
        Nacho's tip: Go to the booth in the far back right if you need to charge your device. There's a half-uncoverered electrical outlet on level with the seat.</p>
      </p>
    </blockquote>

    <blockquote>
      <p>
        Chacho's truth:
      </p>
      <ul>
        <li>Guac is the standard blender guac they leave in the fridge.</li>
        <li>This place has extremely small portions of beans and rice.</li>
        <li>Nacho was ecstatic when Taylor Swift's "Shake it Off" came on the radio in the kitchen. The dining room had traditional ranchero music, which says a lot for ranchero music.</li>
        <li>We forgot to time it but per usual food came out really fast</li>
        <li>They pay $21 per square foot.</li>
        <li>This establishment serves Cherry Coke and milkshakes</li>
        <li>The basket for the chips looks like they bought it at a church supply store.</li>
        <li>Don't eat at Mexican restaurants that have woks.</li>
        <li>You can't hack your life.</li>
      </ul>
    </blockquote>

    <section class="rating">
      <div class="row">
        <div class="col-md-12">
          <p><strong>Chips and Salsa:</strong> 3.5/5 (Chips came out warm which is nice. but they're nothing to write home about. What they lack in taste they make up for in temperature and volume.)</p>
          <p><strong>House Margarita:</strong> 3/5 (Becuase we liked the glass)</p>
          <p><strong>Si or No?</strong> No. </p>
    </div>
  </div>
</div> <!-- /container -->
