<% provide(:title, "Review of La Hacienda on Nolensville Rd in Nashville") %>

<div class="jumbotron la-hacienda-obama-banner">
  <div class="container">
    <h1>La Hacienda <small>&#x20b1; &#x20b1;</small></h1>
    <h2>When you pass the huge cash title and loans place on Nolensville start looking.</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 main-col">
      <section class="intro">
        <p class="lead">Chacho and Nacho here. We're typing this from Nacho's brand new <a href="http://www.amazon.com/Sm-g900v-Sm-g900t-Sm-g900a-Sm-g900p-Sm-g900r4/dp/B00JLKUSAM">Samsung SM-G900V Galaxy S5</a>. We had a serious language barrier with our waiter at this place, so much so that Chacho must have ordered The Poison Bistec Ranchero instead of the regular Bistec Ranchero. While eating it he said "This is the best thing I've ever consumed," only to be consumed by a debilitating norovirus the next day.</p>
        <p>In fact he was so put out that Nacho had to bring over 3 large Gatorades and a large Sprite. Both of us agree that Citrus Cooler is by far the best Gatorade flavor. You might remember that Michael Jordan was fond of it. It really tastes more like oranges than the actual "orange" flavor. Blue reminds him of summer days on the golf course. Nacho considered buying Fierce Melon too, but felt that was too much of a gamble.</p>
        <p>La Hacienda was quite good.</p>
      </section>

      <section class="nachos-tip">
        <h3>Nacho's Tip</h3>
        <p>Sit close to a window. You'll get to see at least 7 or 8 emergency vehicles pass by with their lights on before your beef tacos are ready.</p>
      </section>

      <section class="chachos-truth">
        <h3>Chacho's Truth</h3>
        <ul>
          <li>Some guy here had a 64oz marg and was not up to the task.</li>
          <li>They make their own tortillas and sell them next door at the semi-detached grocery store bearing the same name. These puppies will liven up any fiesta.</li>
          <li>It's always a good sign when a work truck slams into the concrete barrier en fronte the main entrance.</li>
          <li>The steak tacos here are legit.</li>
          <li>Barack Obama once ordered the tacos here.</li>
          <li>Deliver <a href="http://about.zappos.com/our-unique-culture/zappos-core-values">WOW</a> Through Service.</li>
        </ul>
      </section>

      <section class="photos">
        <%= render "posts/photos/la_hacienda_obama_photos" %>
      </section>
    </div><!-- /.main-col -->

    <div class="sidebar col-sm-3 col-sm-offset-1">
      <section class="ratings">
        <p><strong>Chips and Salsa:</strong><br>
          <em>4.5 out of 5 chips</em><br>
          The only reason this is not a 5 is we need to leave room for the chips and salsa at Campos on Pico in Santa Monica. Once you've had that, you know a true 5.</p>
        <p><strong>House Margarita:</strong><br>
          <em>2.5 out of 5 limes</em><br>
          Eh. Standard Ranchro Juice. They used the iced tea glasses so that's a plus.</p>
        <p><strong>&iquest; Si or No?</strong><br>
          <em>Si.</em></p>
      </section>

      <section class="quotes well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>Is Cottonwood Creek a bottle of red wine or a neighborhood outside of Dallas?</em>"
        </p>
        <br>
        <p>
          <strong>What Nacho Said</strong><br>
          "<em>Nice!</em>"
        </p>
      </section>

      <%= render "posts/mailchimp" %>
      <hr>
      <%= render "posts/disqus" %>

    </div><!-- /.sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
