<% provide(:title, "Review of Las Maracas on Gallatin in East Nashville") %>

<div class="jumbotron las-maracas-family-dollar-1184-banner">
  <div class="container">
    <h1>Las Maracas <small>&#x20b1; &#x20b1;</small></h1>
    <h2>On Gallatin Road, next to the Family Dollar and the VERY small Pizza Hut. See picture below as you can’t miss it.</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 main-col">
      <section class="intro">
        <p class="lead">This place is excellent. The parking situation could be better, with warnings regarding parking anywhere other than four spots near the deck, but figure it out, and go inside. It’s worth it.</p>
        <p>Other than the giant maracas painted on the side of the building we saw no actual maracas(es?) maraca (?) inside, which was a relief. There are no frills: just laminate tables, an unseen bar behind a wall, two main dining rooms and a large outside patio/deck which is enclosed with Visqueen (often misspelled visquine) for the winter months. Food and drink specials appear daily. Notably adding to the vibe were a caballero, four loud drunks and a bunch of families. The menu is hilariously oversized - even for your standard Mexican restaurant. Counting specials, one could eat at Las Maracas three times a week for an entire year and never order the same thing.</p>
      </section>

      <section class="nachos-tip">
        <h3>Nacho's Tip</h3>
        [NACHO'S TIP]
      </section>

      <section class="chachos-truth">
        <h3>Chacho's Truth</h3>
        <ul>
          <li>If you're ever gonna find a silver lining, it's gotta be a cloudy day.</li>
        </ul>
      </section>

      <section class="photos">
        <%= render "posts/photos/las_maracas_family_dollar_1184_photos" %>
      </section>
    </div><!-- /.main-col -->

    <div class="sidebar col-sm-3 col-sm-offset-1">
      <section class="ratings">
        <p><strong>Chips and Salsa</strong> 3</p>
        <p><strong>House Margarita</strong> 2<br>
          (if we go lower than 2 on this there's not gonna be any room for Las Palmas on Franklin Road. It wasn't best margarita though.)</p>
        <p><strong>Si or No?</strong> Si</p>
      </section>


      <section class="quotes well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>Let’s start at the beginning - the chips and salsa here are good. The chips are neutral in all respects: somewhat corny, lightly salted and medium in texture. The Salsa is great. It’s a little bit spicy and does not taste like catsup. I’m sure Nacho told you all about the guacamole, so i’ll leave that between you two. The house margarita tasted like the mix you buy at Kroger, but not overly so. It was pretty middle of the road for Southern US Mexican food restaurants, which is to say, satisfying if you are in the mood for one. It was the color of the inside of a lime which I suppose is a good sign.</em>"
        </p>

        <p>
          <strong>What Nacho Said</strong><br>
          <p>"<em>My meal was fantastic. Beleaguered by the sheer size of the menu, I was tempted to order the “American Plate” just to see what happened, but surprised even myself by ordering the T-Bone Steak Ranchero. No attempt was made to request a cooking temp for the steak, but it was nonetheless fantastic. Covered in a sauce that was a sort of mix between enchilada sauce and hot sauce, and served with tortillas, I made a couple soft tacos, then just went for it with the steak. The food was great, and to the table in under 6 minutes from the time of order.</em>"
        </p>
      </section>

      <%= render "posts/mailchimp" %>
      <hr>
      <%= render "posts/disqus" %>

    </div><!-- /.sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
