<% provide(:title, "Review of Las Maracas on Gallatin in East Nashville") %>

<div class="jumbotron las-maracas-family-dollar-1184-banner">
  <div class="container">
    <h1>Las Maracas <small>&#x20b1; &#x20b1;</small></h1>
    <h2>On Gallatin Road, next to the Family Dollar and the VERY small Pizza Hut.</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 main-col">
      <section class="intro">
        <p class="lead">This place is great. Other than the giant maracas painted on the side of the building we saw no actual maracas inside, which was a relief. There are no frills: just laminate tables, an unseen bar behind a wall, two main dining rooms and a large outside patio/deck which is enclosed with Visqueen (often misspelled visquine) for the winter months.</p>
        <p>Chacho's meal was fantastic. Beleaguered by the sheer size of the menu, he was tempted to order the “American Plate” just to see what would happen, but surprised even himself by ordering the T-Bone Steak Ranchero. No attempt was made to request a cooking temp for the steak, but it was nonetheless fantastic. Covered in a sauce that was a sort of mix between enchilada sauce and hot sauce, and served with tortillas, he made a couple soft tacos, then just went for it with the steak.</p>
        <p>Notably adding to the vibe were a caballero, four loud drunks and a bunch of families. The menu is hilariously oversized–even for your standard Mexican restaurant. Counting specials, one could eat at Las Maracas three times a week for an entire year and never order the same thing.</p>
      </section>

      <section class="nachos-tip">
        <h3>Nacho's Tip</h3>
        <p>Men, remember. When you turn 40 you need to go to the doctor to let 'em stick his or her hand inside your butthole and check on your prostate.</p>
      </section>

      <section class="chachos-truth">
        <h3>Chacho's Truth</h3>
        <ul>
          <li>Let’s start at the beginning - the chips and salsa here are good. The chips are neutral in all respects: somewhat corny, lightly salted and medium in texture.</li>
          <li>If you're ever gonna find a silver lining, it's gotta be a cloudy day.</li>
          <li>The house margarita tasted like the mix you buy at Kroger, but not overly so.</li>
          <li>It was pretty middle of the road for Southern US Mexican food restaurants, which is to say, satisfying if you are in the mood for one. It was the color of the inside of a lime which I suppose is a good sign.</li>
          <li>The Salsa is great. It’s a little bit spicy and does not taste like catsup.</li>
        </ul>
      </section>

      <section class="photos">
        <%= render "posts/photos/las_maracas_family_dollar_1184_photos" %>
      </section>
    </div><!-- /.main-col -->

    <div class="sidebar col-sm-3 col-sm-offset-1">
      <section class="ratings">
        <p><strong>Chips and Salsa</strong><br>
          <em>3 out of 5 chips</em>
        </p>
        <p><strong>House Margarita</strong><br>
          <em>2 out of 5 limes</em><br>
          (if we go lower than 2 on this there's not gonna be any room for Las Palmas on Franklin Road. It wasn't best margarita though.)</p>
        <p><strong>Si or No?</strong><br>
          <em>Si</em>.</p>
      </section>

      <section class="quotes well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>What are those little trident things that you use in the garden called? They kinda look like Raphael's weapon in Ninja Turtles.</em>"
        </p>

        <p>
          <strong>What Nacho Said</strong><br>
          "<em>I’m sure Chacho told you all about the guacamole, so i’ll leave that between you two.</em>"
        </p>
      </section>

      <%= render "posts/mailchimp" %>
      <hr>
      <%= render "posts/disqus" %>

    </div><!-- /.sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
