<% provide(:title, "Review of Las Palmas on Franklin Rd in Nashville") %>

<div class="jumbotron las-palmas-franklin-rd-banner">
  <div class="container">
    <h1>Las Palmas <small>&#x20b1; &#x20b1;</small></h1>
    <h2>It's over there in the Kroger parking lot on Franklin road next to the bbq restaurant and the liquor store.</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 main-col">
      <section class="intro">
        <p class="lead">Chacho and Nacho have more experience with strip-mall Mexican fare than practically anybody in town. All that experience couldn't help the Kroger Franklin Road Las Palmas. Nacho's hermano was along for this review, and mercifully ordered the queso. The cheese was pretty much all we enjoyed.</p>
        <p>[DESCRIPTION]</p>
      </section>

      <section class="nachos-tip">
        <h3>Nacho's Tip</h3>
        <p>Nobody knows more about strip mall dining than me an Chacho.</p>
      </section>

      <section class="chachos-truth">
        <h3>Chacho's Truth</h3>
        <ul>
          <li>Nobody knows more about strip mall Mexican food than me an Chacho
          <li>If you're ever gonna find a four leaf clover, you gotta get a little dirt on your hands.</li>
        </ul>
      </section>

      <section class="photos">
        <%= render "posts/photos/las_palmas_franklin_rd_photos" %>
      </section>
    </div><!-- /.main-col -->

    <div class="sidebar col-sm-3 col-sm-offset-1">
      <section class="ratings">
        <p>
          <strong>Chips and Salsa</strong> [RATING HERE]<br>
          [COMMENTS ON CHIPS AND SALSA]
        </p>
        <p>
          <strong>House Margarita</strong> [RATING HERE]<br>
          [COMMENTS ON MARGS]
        </p>
        <p><strong>Si or No?</strong> [ANSWER HERE]</p>
      </section>


      <section class="quotes well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>Nobody knows more about strip mall dining than me an Nacho.</em>"
        </p>

        <p>
          <strong>What Nacho Said</strong><br>
          "<em>[NACHO QUOTE]</em>"
        </p>
      </section>

      <%= render "posts/mailchimp" %>
      <hr>
      <%= render "posts/disqus" %>

    </div><!-- /.sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
