<% provide(:title, "Review of Las Maracas on Gallatin in East Nashville") %>

<div class="jumbotron las-maracas-family-dollar-1184-banner">
  <div class="container">
    <h1>Las Maracas <small>&#x20b1; &#x20b1;</small></h1>
    <h2>On Gallatin Road, next to the Family Dollar and the VERY small Pizza Hut.</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 main-col">
      <section class="intro">
        <p class="lead">There are no frills&mdash;just laminate tables, an unseen bar behind a wall, two main dining rooms and a large outside patio/deck which is enclosed with Visqueen (often misspelled visquine) for the winter months.</p>
        <p>Chacho's meal was fantastic. Beleaguered by the sheer size of the menu, he was tempted to order the “American Plate” just to see what would happen, but surprised even himself by ordering the T-Bone Steak Ranchero. No attempt was made to request a cooking temp for the steak, but it was nonetheless fantastic.</p>
        <p>Adding to the vibe were a caballero, four loud drunks, and a bunch of families. The menu is oversized. Counting specials, one could eat here three times a week for an entire year and never order the same thing.</p>
      </section>

      <section class="nachos-tip">
        <h3>Nacho's Tip</h3>
        <p>Men, remember the worst part about your high-school-sports physical? They're checking for an abdominal hernia, right? I don't get why touching your balls and coughing helps them figure that out. Wait, maybe that was just <em>my</em> coach.</p>
      </section>

      <section class="chachos-truth">
        <h3>Chacho's Truth</h3>
        <ul>
          <li>The chips are corn-ish, lightly salted, and somewhat thick.</li>
          <li>The house margarita tasted like it came from Kroger.</li>
          <li>If you're ever gonna find a <a href="http://youtu.be/Rv9spwIMiqM">silver lining</a>, it's gotta be a cloudy day.</li>
        </ul>
      </section>

      <section class="photos">
        <%= render "posts/photos/las_maracas_family_dollar_1184_photos" %>
      </section>
    </div><!-- /.main-col -->

    <div class="sidebar col-sm-3 col-sm-offset-1">
      <section class="ratings">
        <p><strong>Chips and Salsa</strong><br>
          <em>3 out of 5 chips</em>
        </p>
        <p><strong>House Margarita</strong><br>
          <em>2 out of 5 limes</em><br>
          If we go lower than 2 on this there's not gonna be any room for Las Palmas on Franklin Road.</p>
        <p><strong>Si or No?</strong><br>
          <em>Si</em>.</p>
      </section>

      <section class="quotes well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>What are those little trident things that you use in the garden called? They kinda look like Raphael's weapon in Ninja Turtles.</em>"
        </p>

        <p>
          <strong>What Nacho Said</strong><br>
          "<em>I’m sure Chacho told you all about the guacamole, so i’ll leave that between you two.</em>"
        </p>
      </section>

      <%= render "posts/mailchimp" %>
      <hr>
      <%= render "posts/disqus" %>

    </div><!-- /.sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
