<div class="jumbotron las-palmas-franklin-rd-banner">
  <div class="container">
    <h1>Las Palmas <small>&#x20b1; &#x20b1;</small></h1>
    <h2>It's over there in the Kroger parking lot on Franklin road next to the bbq restaurant and the liquor store.</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 main-col">
      <section class="intro">
        <p class="lead">
          We left El Torero feeling like The Pet Shop boys and asking ourselves, "<a href="https://www.youtube.com/watch?v=Wn9E5i7l-Eg">What did [we] do to deserve this?</a>" Walking up to the front door we first noticed the bathroom tile on the exterior facade. Stepping inside, Nacho startled himself with an accidental camera flash while attempting to get a photo of the restaurant's 70s-lake-house wood paneling.
        </p>
        <p>
          As we sauntered to the very last booth in the back where the ambience was better because there were a couple of burned out can lights, a huge ball of fire erupted from a wok in the kitchen. We were soon approached by a man sweating profusely and wearing a hairnet. Clearly this place cares about customer service. They have the same employee that cooks your food serve it to you. A dedicated employee ensures your meal meets their low standards all the way from bag of frozen chicken terriyaki to your tortilla.
        </p>
      </section>

      <section class="nachos-tip">
        <h3>Nacho's Tip</h3>
        <p>Go to the booth in the far back right if you need to charge your device. There's a half-uncovered electrical outlet on level with the seat.</p>
      </section>

      <section class="chachos-truth">
        <h3>Chacho's Truth</h3>
        <ul>
          <li>Truth #1</li>
        </ul>
      </section>

      <section class="photos">
        <%= render "posts/photos/las_palmas_franklin_rd_photos" %>
      </section>
    </div><!-- /.main-col -->

    <div class="sidebar col-sm-3 col-sm-offset-1">
      <section class="ratings">
        <p>
          <strong>Chips and Salsa</strong> [RATING HERE] <br>
          [COMMENTS ON CHIPS AND SALSA]
        </p>
        <p>
          <strong>House Margarita</strong> 2<br>
          [COMMENTS ON MARGS]
        </p>
        <p><strong>Si or No?</strong> [ANSWER HERE]</p>
      </section>


      <section class="quotes well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>[CHACHO QUOTE]</em>"
        </p>

        <p>
          <strong>What Nacho Said</strong><br>
          "<em>[NACHO QUOTE]</em>"
        </p>
      </section>

      <%= render "posts/mailchimp" %>
      <hr>
      <%= render "posts/disqus" %>

    </div><!-- /.sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
