<% provide(:title, "Review of Las Palmas on Franklin Rd in Nashville") %>

<div class="jumbotron las-palmas-franklin-rd-banner">
  <div class="container">
    <h1>Las Palmas <small>&#x20b1; &#x20b1;</small></h1>
    <h2>It's over there in the Kroger parking lot on Franklin road next to the bbq restaurant and the liquor store.</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 main-col">
      <section class="intro">
        <p class="lead">Chacho and Nacho have more experience with strip-mall Mexican fare than practically anybody in town. All that experience couldn't help the Kroger Franklin Road Las Palmas. Nacho's hermano was along for this review and mercifully he ordered the queso. The cheese was pretty much all we enjoyed.</p>
        <p>Leaving this spot Nacho remarked that he hadn't felt this bad since finishing one of those yard-long drinks you wear around your neck in Las Vegas. I think you can tell from the pictures that he wasn't feeling good.</p>
      </section>

      <section class="nachos-tip">
        <h3>Nacho's Tip</h3>
        <p>The chips, salsa, guacamole and house margaritas are a no go. I guess maybe just get a large fountain coke, a bean burrito, then call 'er a day.</p>
      </section>

      <section class="chachos-truth">
        <h3>Chacho's Truth</h3>
        <ul>
          <li>Note the neon green color of the guac on the menu, and get ready, cause it comes out an impossibly MORE green color.</li>
          <li>If you're ever gonna find a four leaf clover, you gotta get a little dirt on your hands.</li>
        </ul>
      </section>

      <section class="photos">
        <%= render "posts/photos/las_palmas_franklin_rd_photos" %>
      </section>
    </div><!-- /.main-col -->

    <div class="sidebar col-sm-3 col-sm-offset-1">
      <section class="ratings">
        <p>
          <strong>Chips and Salsa</strong> 1/5 <br>
          Salsa was Ketchup-y
        </p>
        <p>
          <strong>House Margarita</strong> 1/5 <br>
          Amazingly more neon in real life than on the menu. No bueono. Neither Nacho nor Chacho could finish their drink. Nacho's brother finished his, but he's in college, so whatever. 
        </p>
        <p><strong>Si or No?</strong> NO. </p>
      </section>


      <section class="quotes well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>Nobody knows more about strip mall dining than me an Nacho.</em>"
        </p>

        <p>
          <strong>What Nacho Said</strong><br>
          "<em>We went and saw Ty Segall right after this. I think the food at Cannery was likely better. The show was good.</em>"
        </p>
      </section>

      <%= render "posts/mailchimp" %>
      <hr>
      <%= render "posts/disqus" %>

    </div><!-- /.sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
