<div class="jumbotron">
  <div class="container">
    <h1>Las Maracas</h1>
    <h2>On Gallatin Road, next to the Family Dollar and the VERY small Pizza Hut. See picture below as you can’t miss it.</h2>
  </div>
</div>

<div class="container">
  <section class="description">
    <div class="row">
      <div class="col-md-12">
        <p>This place is excellent. The parking situation could be better, with warnings regarding parking anywhere other than four spots near the deck, but figure it out, and go inside. It’s worth it. Other than the giant ones painted on the side of the building I saw no actual maracas(es?) maraca (?) inside, which was a relief. There are no frills: just laminate tables, an unseen bar behind a wall, two main dining rooms and a large outside patio/deck which is enclosed with Visqueen (often misspelled visquine) for the winter months. Food and drink specials appear daily. Notably adding to the vibe were a caballero, four loud drunks and a bunch of families. The menu is hilariously oversized - even for your standard Mexican restaurant. Counting specials, one could eat at Las Maracas three times a week for an entire year and never order the same thing.</p>
      </div>
    </div>
  </section>

  <section class="quotes">
    <div class="row">
      <div class="col-md-12">
        <p><strong>Chacho Harrod</strong></p>
        <p>Let’s start at the beginning - the chips and salsa here are good. The chips are neutral in all respects: somewhat corny, lightly salted and medium in texture. The Salsa is great. It’s a little bit spicy and does not taste like catsup. I’m sure Nacho told you all about the guacamole, so i’ll leave that between you two. The house margarita tasted like the mix you buy at Kroger, but not overly so. It was pretty middle of the road for Southern US Mexican food restaurants, which is to say, satisfying if you are in the mood for one. It was the color of the inside of a lime which I suppose is a good sign.</p>

      <p>My meal was fantastic.  Beleaguered by the sheer size of the menu, I was tempted to order the “American Plate” just to see what happened, but surprised even myself by ordering the T-Bone Steak Ranchero. No attempt was made to request a cooking temp for the steak, but it was nonetheless fantastic. Covered in a sauce that was a sort of mix between enchilada sauce and hot sauce, and served with tortillas, I made a couple soft tacos, then just went for it with the steak.  The food was great, and to the table in under 6 minutes from the time of order.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p><strong>Nacho McAlilly:</strong></p>
          <blockquote>Per my usual move, I went right to the chicken enchiladas and guac. Hotty Toddy GUac almighty, who the hell am I? I'm also responsible for dragging the chip and salsa rating to a 3. Chacho had it as a 4 our of 5 and had (the salsa was awesome in parenthesis). I'm a tougher gringo to please. It was good and had a little kick, but I'm not trying to give it a 4. We have a lot of salsa left in Nsahville. I'm not about to start handing out 4's.</blockquote>
        </div>
      </div>
    </section>

    <section class="rating">
      <div class="row">
        <div class="col-md-12">
          <p><strong>Chips and Salsa:</strong> 3/5</p>
          <p><strong>House Margarita:</strong> 2/5 (if we go lower than 2 on this there's not gonna be any room for Las Palmas on Franklin Road. It wasn't best margarita though.)</p>
          <p><strong>Si or No?</strong> Si</p>
    </div>
  </div>
</div> <!-- /container -->
