<div class="jumbotron">
  <div class="container">
    <h1>Little Mexico <small>&#x20b1; &#x20b1; &#x20b1;</small></h1>
    <h2>In the shadow of the Omni.</h2>
  </div>
</div>

<div class="container">
  <section class="description">
    <div class="row">
      <div class="col-md-12">
        <p>It was Christmastime, so we felt the need to go to Christmas Berry. Better known as eastern Nashville's Rosepepper Cantina. (A Rosepper is a Mexican Christmas <a href="http://en.wikipedia.org/wiki/Schinus_terebinthifolius">berry</a>.) Killer Margs. Dope Carniatas. The best chips we've had yet.</p>
        <p>
          Chacho and nacho both had the carnitas.Reader one thing you should know, Chacho's had more Carnitas than practically anyone in Middle Tennesse. These are good.</p>
      </div>
    </div>
  </section>

  <section class="quotes">
    <div class="row">
      <div class="col-md-12">
        <strong>Chacho</strong></p>
        <blockquote>
          <p>
            The chips and salsa arrive first scoring 4.5 out of five baskets of chips. The trio of salsas features delicious tomatillo salsa as well as a medium and hot traditional salsa. There were current list of restaurants a short the margaritas at Rose Pepper are Peerless. They are delicious.
          </p>
        </blockquote>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p><strong>Nacho:</strong></p>
          <blockquote>
            <p>Steam bludgeoned my face as I removed the soft corn tortillas from their foil wrapping. (Chacho Interjecting Here: Nacho got pretty pumped about his meal arriving.)</p>
            <p>The vibe is good but the soundtrack is Brooklyn 2010 + Seven Nation Army. Which is cool if you were especially into that year. If you're really into that year then you'll have a blast in this Mexican ristorante.</p>

            <p>
        </blockquote>
        </div>
      </div>
    </section>

    <blockquote>
      <p>
        Nacho's tip: I know you want to put chips into your mouth every second you're at a Mexican restaurant, but if you have issues like me, after you finish your first basket just break off tiny portions and dip it in the salsa. Your boca will never know you didn't eat a full chip!</p>
      </p>
    </blockquote>

    <blockquote>
      <p>
        Chacho's truth:
      </p>
      <ul>
        <li>Pay attention to your corn tortillas. They are the critic's pick for the best part of the meal.</li>
        <li>Cool neon sign inside</li>
        <li>The guac is fresh and tasty, but Chacho's not trying to mess with those big ass pillowy chip thingy's in it.</li>
        <li>Your attitude is the most important part of your day.</li>
      </ul>
    </blockquote>

    <section class="rating">
      <div class="row">
        <div class="col-md-12">
          <p><strong>Chips and Salsa:</strong> 4.5/5 (nearly perfect if not for Chacho's childish reservations)</p>
          <p><strong>House Margarita:</strong> 4.5/5 ('cuase nobody's perfect)</p>
          <p><strong>Si or No?</strong> Si, dumbass</p>
    </div>
  </div>
</div> <!-- /container -->
