<% provide(:title, "Review of Little Mexico on 4th Ave S in Nashville") %>

<div class="jumbotron little-mexico-banner">
  <div class="container">
    <h1>Little Mexico <small>&#x20b1; &#x20b1;</small></h1>
    <h2>If the Omni were to fall over backwards away from Broadway it would land right across the street from this place.</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 main-col">
      <section class="intro">
        <p class="lead">
          We rode up here in Old Blue and settled into a booth that was something to behold during the Advocare Texas Bowl Game.
        </p>
        <p>
          [DESCRIPTION]
        </p>
      </section>

      <section class="nachos-tip">
        <h3>Nacho's Tip</h3>
        [NACHO'S TIP]
      </section>

      <section class="chachos-truth">
        <h3>Chacho's Truth</h3>
        <li>Best chicken in Nashville Mexican restaurants</li>
        <li>Every 2 minutes our waiter would materialize out of nowhere</li>
        <li>Soundtrack included Espa&ntilde;ol versions of "O Come All Ye Faithful" and "Frosty the Snowman"</li>
        <li>John Prine's Mexican Home was the first recorded example of Opium Rock</li>
      </section>

      <section class="photos">
        <%= render "posts/photos/little_mexico_photos" %>
      </section>
    </div><!-- /.main-col -->

    <div class="sidebar col-sm-3 col-sm-offset-1">
      <section class="ratings">
        <p>
          <strong>Chips and Salsa</strong> [RATING HERE] <br>
          [COMMENTS ON CHIPS AND SALSA]
        </p>
        <p>
          <strong>House Margarita</strong> 2<br>
          [COMMENTS ON MARGS]
        </p>
        <p><strong>Si or No?</strong> [ANSWER HERE]</p>
      </section>


      <section class="quotes well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>[CHACHO QUOTE]</em>"
        </p>

        <p>
          <strong>What Nacho Said</strong><br>
          "<em>Chacho crushed his Ranchero Juice in record time.</em>"
        </p>
      </section>

      <%= render "posts/mailchimp" %>
      <hr>
      <%= render "posts/disqus" %>

    </div><!-- /.sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
