<div class="jumbotron [RESTAURANT-NAME]-banner">
  <div class="container">
    <h1>[TITLE]</h1>
    <h2>[DIRECTIONS]</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 main-col">
      <section class="intro">
        <div class="lead">
          [LEAD]
        </div>
        [INTRO PARAGRAPH]
      </section>

      <section class="nachos-tip">
        <h3>Nacho's Tip</h3>
        [NACHO'S TIP]
      </section>

      <section class="chachos-truth">
        <h3>Chacho's Truth</h3>
        [CHACHO'S TRUTHS]
      </section>

      <section class="photos">
        <%= render "posts/photos/[RESTAURANT_NAME]_photos" %>
      </section>
    </div><!-- /.main-col -->

    <div class="sidebar col-sm-3 col-sm-offset-1">
      <section class="ratings">
        [RATINGS]
      </section>


      <section class="quotes well">
        [QUOTES]
      </section>

      <%= render "posts/mailchimp" %>
      <hr>
      <%= render "posts/disqus" %>

    </div><!-- /.sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
