.jumbotron
  background-size: cover
  background-repeat: no-repeat
  background-position: top left
  .container
    h1,h2,p
      color: white

// Start of featured photos for posts
.el-torero-banner
  background-image: url('el-torero/el-torero-feature.jpg')
