<footer>
  <p>Got a place we need to try? Want to tell us about your favorite new bro country song? Email tips to <a href="mailto:basketofchips@gmail.com">basketofchips@gmail.com</a>. Chacho checks his email every couple of weeks so it might take a while to get back to you. Please <a href="mailto:basketofchips@gmail.com">email us</a> if you know how to get us onto "&#191;Que Pas&#225; Nashville?"</p>
  <p><em>Coma en su propio riesgo</em>. Have a blessed day.</p>
  <hr>
  <p>Pizza is up next...</p>
  <hr>
  <p>Brought to you by <a href="http://originalfuzz.com">Original Fuzz</a>.</p>
  <p>&copy; 2014 - <%= Date.today.strftime("%Y") %> Chacho &amp; Nacho</p>
</footer>
