<footer>
  <p><em>No somos responsables de su diarrea. Coma en su propio riesgo. There are no coincidences.</em></p>
  <p>Have a blessed day.</p>
  <p>&copy; 2014 - <%= Date.today.strftime("%Y") %> Chacho &amp; Nacho</p>
</footer>
