<footer>
  <p><em>Disclaimer: All restaurant locations are approximate. No somos responsables de su diarrea. Coma en su propio riesgo.</em></p>
  <p>Have a blessed day.</p>
  <p>&copy; <%= Date.today.strftime("%Y") %> Chacho Harrod &amp; Nacho McAlilly</p>
</footer>
