<%= render "layouts/html_header" %>

<body>
  <%= render "layouts/nav" %>

  <div class="jumbotron homepage-banner">
    <div class="container">
      <h1>&iexcl;Bienvenidos!</h1>
      <p>Welcome to <em>First I Would Like to Start With a Basket of Chips</em>.<br>
      We're your trusted source for Mexican restaurant reviews in metro Nashville.</p>
      <p><a class="btn btn-primary btn-lg" href="/rankings" role="button">Get the Rankings &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>

    <%= render "layouts/footer" %>
  </div> <!-- /container -->

</body>
</html>
